<%= form_for @procurement, :html => {:id => "myForm"} do |f| %>
<% if @procurement.errors.any? %>
<div id="error_explanation">
	<h2>
		<%= pluralize(@procurement.errors.count, "erro") %> ao Salvar procuração:
	</h2>
	<ul>
		<% @procurement.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="panel-group" id="accordion">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
					Dados Gerais
				</a>
			</h4>
		</div>
		<div id="collapse1" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
					<%= f.label :cliente %>
					<br>
					<%= f.text_field :cliente %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :número_do_processo %>
					<br>
					<%= f.number_field :numero_do_processo %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :telefone %>
					<br>
					<%= f.text_field :fones, id: 'telefone' %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :rg %>
					<br>
					<%= f.number_field :rg %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cpf %>
					<br>
					<%= f.text_field :cpf, id: 'cpf' %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :estado_civil %>
					<br>
					<%= f.text_field :estado_civil %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :endereço %>
					<br>
					<%= f.text_field :endereco %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :bairro %>
					<br>
					<%= f.text_field :bairro %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cep %>
					<br>
					<%= f.text_field :cep_usuario, id: 'cep' %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cidade %>
					<br>
					<%= f.text_field :cidade %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :parte_contrária %>
					<br>
					<%= f.text_field :parte_contraria %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cnpj %>
					<br>
					<%= f.text_field :cnpj, id: 'cnpj' %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :nome_fantasia %>
					<br>
					<%= f.text_field :nome_fantasia %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :endereço %>
					<br>
					<%= f.text_field :endereco_empresa %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :bairro %>
					<br>
					<%= f.text_field :bairro_empresa %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cidade %>
					<br>
					<%= f.text_field :cidade_empresa %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :proprietário %>
					<br>
					<%= f.text_field :proprietario_empresa %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cep %> 
					<br>
					<%= f.text_field :cep_empresa, id: 'cep2' %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :ramo_de_atividade %>
					<br>
					<%= f.text_field :ramo_de_atividade %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9"> 
					<%= f.label :objeto_de_ação %>
					<br>
					<%= f.text_area :objeto_de_acao %>
				</div>
				<br>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
					Contrato de Trabalho
				</a>
			</h4>
		</div>
		<div id="collapse2" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :data_início_TR %>
					<br>
					<%= f.text_field :data_inicio_tr, 
					value: (f.object.data_inicio_tr.strftime("%d/%m/%Y") if f.object.data_inicio_tr.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :reg_ctps %>
					<br>
					<%= f.text_field :reg_ctps %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :d_registro %>
					<br>
					<%= f.text_field :data_registro,
					value: (f.object.data_registro.strftime("%d/%m/%Y") if f.object.data_registro.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :período_avulso %>
					<br>
					<%= f.text_field :periodo_avulso %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :função %>
					<br>
					<%= f.text_field :funcao %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :salário_final %>
					<br>
					<%= f.number_field :salario_final, :step => 0.01 %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :forma_de_pagamento %>
					<br>
					<%= f.text_field :forma_pagto %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :comissões %>
					<br>
					<%= f.text_field :comissoes %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :cotas_sal_fam %>
					<br>
					<%= f.number_field :cotas_sal_fam, :step => 0.01 %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebia_ccheq %>
					<br>
					<%= f.text_field :recebia_ccheq %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :pg_hextras %>
					<br>
					<%= f.text_field :pg_hextras %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :insalubridade %>
					<br>
					<%= f.text_field :insalubridade %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :periculosidade %>
					<br>
					<%= f.text_field :periculosidade %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :ad_noturno %>
					<br>
					<%= f.text_field :ad_noturno %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :pg_por_fora %>
					<br>
					<%= f.text_field :pg_por_fora %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :gorjeta %>
					<br>
					<%= f.text_field :gorjeta %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :viagens_ajuda_de_custo %>
					<br>
					<%= f.text_field :viagens_ajuda_custo %>					
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebeu_férias %>
					<br>
					<%= f.text_field :recebeu_ferias %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :períodos_ñ_gozados %>
					<br>
					<%= f.text_field :periodos_n_gozados %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebia_13º %>
					<br>
					<%= f.text_field :recebia_13 %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :ano_que_não_recebeu_13º %>
					<br>
					<%= f.number_field :ano_que_n_recebeu_13 %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebia_plr %>
					<br>
					<%= f.text_field :recebia_pl %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :gratificações %>
					<br>
					<%= f.text_field :gratificacoes %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :outros %>
					<br>
					<%= f.text_field :outros %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :local_de_trabalho %>
					<br>
					<%= f.text_field :local_de_trabalho %>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
					Jornada e Horário de Trabalho
				</a>
			</h4>
		</div>
		<div id="collapse3" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :jornada %>
					<br>
					<%= f.text_field :jornada %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :horario %>
					<br>
					<%= f.time_field :horario %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :intervalo %>
					<br>
					<%= f.text_field :intervalo %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :sábado %>
					<br>
					<%= f.text_field :sabado %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :domingo_feriado_dia_santo %>
					<br>
					<%= f.text_field :domingo_feriado_dia_santo %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :trabalhou_noutros_horarios %>
					<br>
					<%= f.text_field :trabalhou_noutros_horarios %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :h_extra_no_c_cheque %>
					<br>
					<%= f.text_field :h_extra_no_c_cheque %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_he_semana %>
					<br>
					<%= f.text_field :qte_he_semana %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :folga_qdo %>
					<br>
					<%= f.text_field :folga_qdo %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :banco_de_horas %>
					<br>
					<%= f.text_field :banco_de_horas %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :recebia_vr_hex_correto %>
					<br>
					<%= f.text_field :recebia_vr_hex_correto %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :tipo_registro_de_hora %>
					<br>
					<%= f.text_field :tipo_registro_de_hora %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :ass_cartao %>
					<br>
					<%= f.text_field :ass_cartao %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :saida_na_hora %>
					<br>
					<%= f.text_field :saida_na_hora %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :escala_turno %>
					<br>
					<%= f.text_field :escala_turno %>					
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :h_intervalar_tempo %>
					<br>
					<%= f.text_field :h_intervalar_tempo %>					
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
					Demissão e Pagamento - Verbas Rescisórias
				</a>
			</h4>
		</div>
		<div id="collapse4" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :demitido %>
					<br>
					<%= f.text_field :demitido %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :motivo %>
					<br>
					<%= f.text_field :motivo %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :data_aviso %>
					<br>
					<%= f.text_field :data_aviso,
					value: (f.object.data_aviso.strftime("%d/%m/%Y") if f.object.data_aviso.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :ultimo_dia_trabalhado %>
					<br>
					<%= f.text_field :ultimo_dia_trabalhado,
					value: (f.object.ultimo_dia_trabalhado.strftime("%d/%m/%Y") if f.object.ultimo_dia_trabalhado.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :assinou_trct %>
					<br>
					<%= f.text_field :assinou_trct %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :homologacao_sindicato %>
					<br>
					<%= f.text_field :homologacao_sindicato %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :ressalva %>
					<br>
					<%= f.text_field :ressalva %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :assinou_algum_documento %>
					<br>
					<%= f.text_field :assinou_algum_documento %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebeu_algum_valor %>
					<br>
					<%= f.text_field :recebeu_algum_valor %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<%= f.label :motivo_da_demissao %>
					<br>
					<%= f.text_area :motivo_da_demissao %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :quem_demitiu %>
					<br>
					<%= f.text_field :quem_demitiu %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_de_faltas %>
					<br>
					<%= f.number_field :qte_de_faltas %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_atestados %>
					<br>
					<%= f.number_field :qte_atestados %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_suspensao %>
					<br>
					<%= f.number_field :qte_suspensao %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_advertencia %>
					<br>
					<%= f.number_field :qte_advertencia %>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1col-lg-1">
					<%= f.label :res_indireta %>
					<br>
					<%= f.text_field :res_indireta %>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
					<%= f.label :assédio %>
					<br>
					<%= f.text_field :assedio %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :vr_recebido_rescisao %>
					<br>
					<%= f.text_field :vr_recebido_rescisao %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :fgts %>
					<br>
					<%= f.text_field :fgts %>
					<br>
					<%= f.label :parcial_fgts %>
					<br>
					<%= f.text_field :parcial_fgts %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :fgts_40 %>
					<br>
					<%= f.text_field :quarenta_fgts %>
					<br>
					<%= f.label :parcial_40_fgts %>
					<br>
					<%= f.text_field :parcial_quarenta_fgts %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :data_baixa_na_ctps %>
					<br>
					<%= f.text_field :data_baixa_na_ctps,
					value: (f.object.data_baixa_na_ctps.strftime("%d/%m/%Y") if f.object.data_baixa_na_ctps.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :devolucao_ctps %>
					<br>
					<%= f.text_field :devolucao_ctps %>					
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :recebeu_gsd %>
					<br>
					<%= f.text_field :recebeu_gsd %>					
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
					Gestante
				</a>
			</h4>
		</div>
		<div id="collapse5" class="panel-collapse collapse">
			<div class="row">Accept 
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :inicio_gestacao %>
					<br>
					<%= f.text_field :inicio_gestacao,
					value: (f.object.inicio_gestacao.strftime("%d/%m/%Y") if f.object.inicio_gestacao.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :atestados_ultrasom %>
					<br>
					<%= f.text_field :atestados_ultrasom %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :deu_conhecimento_na_empresa %>
					<br>
					<%= f.text_field :deu_conhecimento_na_empresa %>
					<br>
					<%= f.label :p_quem %>
					<br>
					<%= f.text_field :p_quem %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :licenca_maternidade %>
					<br>
					<%= f.text_field :licenca_mater %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :suspensão %>
					<br>
					<%= f.text_field :suspensao %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :qte_suspensão_gestante %>
					<br>
					<%= f.number_field :qte_suspensao_gestante %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :advertência %>
					<br>
					<%= f.text_field :advertencia %>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<%= f.label :qte_advêrtencia_gestante %>
					<br>
					<%= f.text_field :qte_advertencia_gestante %>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
					Acidente de Trabalho
				</a>
			</h4>
		</div>
		<div id="collapse6" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :data_e_hora %>
					<br>
					<%= f.text_field :data_e_hora,
					"data-provide" => 'datetimepicker' %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :dentro_fora_da_empresa %>
					<br>
					<%= f.text_field :dentro_fora_da_empresa %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :socorro_hospital %>
					<br>
					<%= f.text_field :socorro_hospital %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :emissao_cat %>
					<br>
					<%= f.text_field :emissao_cat %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :afastamento_inss %>
					<br>
					<%= f.text_field :afastamento_inss %>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :sequelas %>
					<br>
					<%= f.text_field :sequelas %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :parte_atingida %>
					<br>
					<%= f.text_field :parte_atingida %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :mudanca_funcao %>
					<br>
					<%= f.text_field :mudanca_funcao %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :nova_função %>
					<br>
					<%= f.text_field :nova_funcao %>
				</div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
					<%= f.label :a_partir_de_quando %>
					<br>
					<%= f.text_field :a_partir_de_quando,
					value: (f.object.a_partir_de_quando.strftime("%d/%m/%Y") if f.object.a_partir_de_quando.present?),
					"data-provide" => 'datepicker', 
					"data-date-format" => "dd/mm/yyyy", 
					"data-date-autoclose"=> 'true',
					"data-date-language" => 'pt-BR' %>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
					Observações Complementares
				</a>
			</h4>
		</div>
		<div id="collapse7" class="panel-collapse collapse">
			<div class="row">
				<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
					<%= f.text_area :observacoes_complementares %>
				</div>
			</div>
		</div>
	</div>
	<br>
</div>
<% end %>