<table class="table">
	<tr>
		<td>
			<%= image_tag("LogoGSAdvogados.png") %>
		</td>
	</tr>
	<tr>
		<td style="text-align:left">
			<%= link_to ' Novo Cadastro', new_procurement_path, class: 'btn btn-default glyphicon glyphicon-plus' %>
		</td>
		<td style="text-align: right">
			<%= form_tag(procurements_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Buscar por Nome ou Número da Processo" %>
				<%= button_tag(type: "submit", class: "btn btn-default") do %>
					<i class="glyphicon glyphicon-search"></i>
				<% end %>
				<%= link_to procurements_path,  class: 'btn btn-default' do %>
				<span class="glyphicon glyphicon-remove"></span>
				<% end %>
			<% end %>
		</td>
	</tr>
</table>
<table class="table table-condensed">
	<% flash.each do |type, content| %>
    <% if content.respond_to?('each') 
        content.each do |item| %>
            <%= render 'layouts/alert', 
                type: type,
                content: item %>
        <% end %>
    <% else %>
        <%= render 'layouts/alert', 
                type: type,
                content: content %>
    <% end %>

<% end %>
	<thead>
		<tr>
			<th style="text-align:center"> Cliente</th>
			<th style="text-align:center"> Processo </th>
			<th style="text-align:center"> Visualizar </th>
			<th style="text-align:center"> Editar </th>
			<th colspan="2" style="text-align:center"> Documentos </th>
			<!-- <th style="text-align:center"> Anexar </th> -->
			<th style="text-align:center"> Excluir </th>
		</tr>
	</thead>
	<% @procurements.each do |procurement| %>
	<tr>
		<td><%= procurement.cliente %></td>
		<td><%= procurement.numero_do_processo %></td>
		<td align="center"><%= link_to ' ', procurement_path(procurement), class: 'glyphicon glyphicon-eye-open' %></td>
		<td align="center"><%= link_to ' ', edit_procurement_path(procurement), class: 'glyphicon glyphicon-pencil' %></td>
		<td align="center"><%= link_to 'Ficha', procurement_path(procurement, :format => 'pdf'), class: 'glyphicon glyphicon-list'  %></td>
		<td align="center"><%= link_to 'Procuração', procurement_path(procurement, :format => 'pdf2'), 
			class: 'glyphicon glyphicon-file' %>
		</td>
		<!-- <td align="center"><%= link_to ' ', edit_procurement_path(procurement), class: 'glyphicon glyphicon-paperclip' %></td> -->
		<td align="center"><%= link_to procurement_path(procurement), 
			method: :delete,
			data: { confirm: 'Tem certeza?' } do %>
			<span class="glyphicon glyphicon-trash"></span>
			<% end %></td>
	</tr>
	<% end %>
	</table>