<h1>Procurações</h1>
<table class="table">
	<tr>
		<td>
			<%= form_tag(procurements_path, :method => "get", id: "search-form") do %>
				<%= text_field_tag :search, params[:search], placeholder: "Buscar por Nome ou Número da Procuração" %>
				<%= button_tag(type: "submit", class: "btn btn-default") do %>
					<i class="glyphicon glyphicon-search"></i>
					Buscar
				<% end %>
				<%= link_to procurements_path,  class: 'btn btn-default' do %>
				<span class="glyphicon glyphicon-list"></span>
				Voltar para lista
				<% end %>
			<% end %>
		</td>
	</tr>
	<tr>
		<td style="text-align:right">
			<%= link_to ' Novo Cadastro', new_procurement_path, class: 'btn btn-default glyphicon glyphicon-plus' %>
		</td>
	</tr>
</table>
<table class="table table-hover">
	<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: "alert alert-#{name}" %>
    <% end %>
	<thead>
		<tr>
			<th style="text-align:center"> Cliente</th>
			<th style="text-align:center"> CPF </th>
			<th colspan="4" style="text-align:center"> Opções </th>
		</tr>
	</thead>
	<% @procurements.each do |procurement| %>
	<tr>
		<td><%= procurement.cliente %></td>
		<td><%= procurement.cpf %></td>
		<td><%= link_to ' ', procurement_path(procurement), class: 'glyphicon glyphicon-eye-open' %></td>
		<td><%= link_to ' ', edit_procurement_path(procurement), class: 'glyphicon glyphicon-pencil' %></td>
		<td><%= link_to 'Ficha', procurement_path(procurement, :format => 'pdf'), class: 'glyphicon glyphicon-list'  %>
			<br/>
			<%= link_to 'Procuração', procurement_path(procurement, :format => 'pdf2'), 
			class: 'glyphicon glyphicon-file' %>
		</td>
		<td><%= link_to procurement_path(procurement), 
			method: :delete,
			data: { confirm: 'Tem certeza?' } do %>
			<span class="glyphicon glyphicon-trash"></span>
			<% end %></td>
	</tr>
	<% end %>
	</table>